{% extends 'base_email.html.twig' %}

{% block body %}
    <tr>
        <td class="wrapper" style="font-family: sans-serif; font-size: 14px; vertical-align: top; box-sizing: border-box; padding: 20px;">
            <table border="0" cellpadding="0" cellspacing="0" style="border-collapse: separate; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%;">
                <tr>
                    <td style="font-family: sans-serif; font-size: 14px; vertical-align: top;">
                        <p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; Margin-bottom: 15px;"><b>{% trans %}translation.email.content.source_lang{% endtrans %}</b> {{ translationResult.translations[0].detectedLanguageCode }}</p>
                        <p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; Margin-bottom: 15px;"><b>{% trans %}translation.email.content.target_lang{% endtrans %}</b> {{ translationRequest.destLang }}</p>
                        <p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; Margin-bottom: 15px;"><b>{% trans %}translation.email.content.source_text{% endtrans %}</b> {{ translationRequest.text }}</p>
                        <p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; Margin-bottom: 15px;"><b>{% trans %}translation.email.content.target_text{% endtrans %}</b> {{ translationResult.translations[0].text }}</p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
{% endblock %}
