<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% trans %}translation.page.title{% endtrans %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="/css/style.css">

        <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/manifest.json">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
        <meta name="theme-color" content="#ffffff">
    </head>
    <body>

        {# ---------- Header ----------- #}
        <nav class="navbar navbar-dark bg-primary">
            <a class="navbar-brand">{% trans %}translation.page.content.heading{% endtrans %}</a>
            {% if app.request.locale == 'ru' %}
                <a class="navbar-text" href="{{ path('translator_index', {'_locale' : 'en'}) }}">{% trans %}translation.page.lang.english{% endtrans %}</a>
            {% else %}
                <a class="navbar-text" href="{{ path('translator_index', {'_locale' : 'ru'}) }}">{% trans %}translation.page.lang.russia{% endtrans %}</a>
            {%  endif %}
        </nav>

        <div class="container">

            {# ---------- Page content ----------- #}
            {% block body %}{% endblock %}

            {# ---------- Flash messages ----------- #}
            <div class="flash-messages">
                {% for label, messages in app.flashes %}
                    {% for message in messages %}
                        <div class="alert alert-{{ label }}" role="alert">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>

        </div>
    </body>
</html>
